.header {
  grid-area: h;
  background-color: green;

  display: flex;
  justify-content: space-between;

  img {
    width: 20px;
  }
 }

.loginBlock {
  a {
    color: whitesmoke;
    text-decoration: none;
  }
}